.head_body_cacgiaidau{
    background-image: url(./img-home/backgr_vechungtoi.jpg);
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
